<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project 2</title>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Movies</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <form action="/movies" method="POST" class="input-field">
               <i class="material-icons prefix">search</i>
              <input type="text" name="movie_search" placeholder="Search" autocomplete="off" id="searchbar">
            </form>
          </li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/signup">Create Account</a></li>
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% include partials/alerts %>
      <%- body %>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
