<div class="profile-grid">
	<div class="profile-name">
		<h2><%=user.name%>'s Profile</h2>
	</div>
	<div>
		<h2 class="profile-score">Average Rating: <%= userAverage %></h2>
	</div>
	<div class="row profile-row">
		<h3>Favorite Movies</h3>
		<!-- Lists movies in User's associated movies with a score greater than 8 -->
		<% movies.forEach(function(movie, i) { %>
			<div class="col s5 m3 l2">
				<% if (movie.rating > 8) { %>
					<a href="/movies/<%=movie.api_id%>"><img src="<%=movie.poster%>" class="profile-posters"></a>
				<% } %>
			</div>
		<% }) %>
	</div>
</div>