<h2>Profile Page</h2>

<a href="/">Home</a>
<br />
<br />
<a href="/user_movies">Your Movies</a>

<form method="POST" action="/user_movies/sorted">
	<input type="hidden" name="sort" value="ScoreDes">
	<button type="submit" class="waves-effect waves-green btn">Score (Descending)</button>
</form>
<br />
<form method="POST" action="/user_movies/sorted">
	<input type="hidden" name="sort" value="ScoreAsc">
	<button type="submit" class="waves-effect waves-green btn">Score (Ascending)</button>
</form>
<br />
<form method="POST" action="/user_movies/sorted">
	<input type="hidden" name="sort" value="AlphAsc">
	<button type="submit" class="waves-effect waves-green btn">Title (Ascending) </button>
</form>
<br />
<form method="POST" action="/user_movies/sorted">
	<input type="hidden" name="sort" value="AlphDes">
	<button type="submit" class="waves-effect waves-green btn">Title (Descending) </button>
</form>
<h3>Average Score: <%= userAverage %></h3>