nav {
	/*background: linear-gradient(0deg, rgba(55,96,135,1) 0%, rgba(14,30,38,1) 100%);*/
	background-color: #14181d;
}

body {
	background-color: #eaf1f5;
	/*background-color: #14181d;*/
	/*font-family: 'Encode Sans Condensed', sans-serif;*/
}
	
.form-container {
	background-color: #f4f4f4;
	padding: 3em;
	margin-top: 1em;
	border-radius: 1em;
}

@media (min-width: 990px){
	.brand-logo {
		margin-left: 1em;
	}
}

/*Search Bar*/
form.input-field {
	margin: 0;
	padding: 0;
	background-color: white;
	height: 2.5em;
	margin-top: 0.8em;
	border-radius: 10em;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 0;
    box-shadow: 0 0 0 0 #ffffff;
}

.input-field .prefix {
	top: -0.7rem;
	left: 0.1em;
	color: black;
}

.input-field .prefix.active {
	color: lightgray;
}

#searchbar {
	top: -0.7em;
	position: relative;
}

#movies img {
  	max-height: 240px;
}

#movies {
	text-align: center;
	padding: 0;
	margin-top: 1em;
}

.card {
	border-radius: 12px;
}

.card .card-content {
	height: 19.3em;
	padding: 0;
	padding-top: 0.4em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	/*background: linear-gradient(0deg, rgba(55,96,135,1) 0%, rgba(14,30,38,1) 100%);*/
	background-color: #14181d;
	border-radius: 12px
}

.card .card-action {
	padding: 0;
	border: 0;
	position: relative;
	padding-bottom: 0.6em;
	height: 0;
}

.movie-button {
	border: 1px solid white;
	margin-top: 0.3em;
}

.card-action input[type=submit] {
	color: white;
}

.card-action form {
	display: inline-block;
}

@media (max-width: 600px) {
	#movies .row .col {
		padding: 0.3em .75rem;
	}
}

@media (max-width: 1200px) {
	.card .card-content {
		height: 20.4em;
	}
}

.material-tooltip {
	/*background: linear-gradient(0deg, rgba(55,96,135,1) 0%, rgba(14,30,38,1) 100%);*/
	background-color: #eaf1f6
	border-radius: 5px;
}

.alert-card {
	width: 70%;
	background-color: white;
}

.alert-card .card-content{
	height: 3em;
	line-height: 2em;
	text-align: center;
}

.movie-grid {
	margin-top: 1em;
	display: grid;
	grid-template-columns: 7fr 10fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "poster info misc";
    /*background: linear-gradient(0deg, rgba(14,30,38,1) 0%, rgba(55,96,135,1) 100%);*/	
    background-color: #14181d;
    padding: 1em;
    border-radius: 1em;
}

.movie-grid p {
	border: 2px solid white;
	padding: 1em;
	border-radius: 5px;
	color: white;
}

.movie-grid h3 {
	padding: 0;
	margin: 0;
	color: white;
}

.movie-grid img {
	border-radius: 0.5em;
	height: 25em;
	margin-top: 3em;
}

.poster-col {
	grid-area: poster;
	text-align: center;
	height: 41em;
}

.info-col {
	grid-area: info;
	margin-left: 1em;
}

.misc-col {
	grid-area: misc;
}

.index-movie {
	border-radius: 0.5em;
}

#wrapper {
	/*background-color: #14181d;*/
}

table.highlight tbody tr:hover {
    background-color: lightgray;
}

ul.dropdown-content.select-dropdown li span {
    color: black;
}




















