nav {
	/*background: linear-gradient(0deg, rgba(55,96,135,1) 0%, rgba(14,30,38,1) 100%);*/
	background-color: #14181d;
}

body {
	background-color: #eaf1f5;
	/*background-color: #14181d;*/
	font-family: 'Encode Sans Condensed', sans-serif;
}
	
.form-container {
	background-color: #f4f4f4;
	padding: 3em;
	margin-top: 1em;
	border-radius: 1em;
}

@media (min-width: 990px){
	.brand-logo {
		margin-left: 1em;
	}
}

/*Search Bar*/
form.input-field {
	margin: 0;
	padding: 0;
	background-color: white;
	height: 2.5em;
	margin-top: 0.8em;
	border-radius: 10em;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 0;
    box-shadow: 0 0 0 0 #ffffff;
}

.input-field .prefix {
	top: -0.7rem;
	left: 0.1em;
	color: black;
}

.input-field .prefix.active {
	color: lightgray;
}

#searchbar {
	top: -0.7em;
	position: relative;
}

#m-searchbar {
	top: -0.6em;
	position: relative;
}

.alert-card {
	width: 70%;
	background-color: white;
	border-radius: 1em;
}

.alert-card .card-content{
	line-height: 2em;
	text-align: center;
}

.movie-grid {
	margin-top: 1em;
	display: grid;
	grid-template-columns: 7fr 10fr 5fr;
    grid-template-rows: 5em 10fr;
    grid-template-areas: "title . year"
    					 "poster info misc";
    /*background: linear-gradient(0deg, rgba(14,30,38,1) 0%, rgba(55,96,135,1) 100%);*/	
    background-color: #14181d;
    padding: 1em;
    border-radius: 1em;
}

.movie-grid p {
	/*border: 2px solid white;*/
	border-radius: 5px;
	color: white;
}

.movie-grid h3 {
	padding: 0;
	margin: 0;
	color: white;
}

.movie-grid img {
	border-radius: 0.5em;
	height: 25em;
	margin: 0 auto;
	margin-top: 3em;
}

.poster-col {
	grid-area: poster;
	text-align: center;
	height: 41em;
}

.title-col {
	grid-area: title;
	text-align: center;
}

.year-col {
	grid-area: year;
	text-align: left;
}

.year-col h3 {
	margin: 0;
	font-size: 1em;
}

.info-col {
	grid-area: info;
	margin-left: 1em;
}

.misc-col {
	grid-area: misc;
	text-align: center;
}

.index-movie {
	border-radius: 0.5em;
}

table.highlight tbody tr:hover {
    background-color: lightgray;
}

ul.dropdown-content.select-dropdown li span {
    color: black;
}

.select-wrapper input.select-dropdown {
	width: 80%;
	margin: 0 auto;
	color: white;
	text-align: center;
	background-color: white;
	border-radius: 5px;
}	

.dropdown-content li>a, .dropdown-content li>span {
	text-align: center;
}

#movie-index {
	padding: 20px;
}

#movie-index img {
	max-height: 240px
}

#button-grid {
	grid-area: buttons;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "add show .";
}

.rating-button {
	grid-area: rating;
	padding-left: 2.4em;
}

.select-rating {

}

.add-button {
	grid-area: add;
	text-align: right;
}

.show-button {
	grid-area: show;
	text-align: center;
}

.select-wrapper input.select-dropdown {
	height: 40%;
	background-color: transparent;
	border: 0;
}

.select-wrapper {
	text-align: center;
}

.select-wrapper .caret {
	display: none;
}

.image-container {
	grid-area: poster;
	text-align: center;
}

.movie-container {
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "poster"
    					 "buttons";
   	margin-bottom: 2em;
   	/*height: 19em;*/
}

.material-tooltip {
	/*background: linear-gradient(0deg, rgba(55,96,135,1) 0%, rgba(14,30,38,1) 100%);*/
	background-color: #eaf1f6
	border-radius: 5px;
}

.sidenav {
	margin-top: 2em;
}
