<div class="container">
	<div>
		<h3 class="center">Movie Search</h3>
		<form action="/movies" method="POST" id="movie-search">
			<input type="text" name="movie_search">
		</form>
	</div>
</div>
<div class="container">
	
</div>